#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10% 5% 10%;
    /* background-color: #7FCDD8; */
    background-color: #C3E8F0;
}

#contact div {
    width: 50%;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact h3 {
    margin-bottom: 10px;
}

#contact img {
    width: 50px;
    margin: 10px;
}

.contact-img {
    text-align: right;
}